<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据源-->
        <property name="dataSource" ref="dataSource"/>

        <!--配置Mybatis的全局配置文件-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>

        <!--
            配置mapper.xml文件   classpath后面加上*(不加IDEA启动报错,Eclipse正常运行)

            classpath：只会到你的class路径中查找找文件。
            classpath*：不仅包含class路径，还包括jar文件中（class路径）进行查找。

            注意:
                用classpath*:需要遍历所有的classpath,所以加载速度是很慢的;因此,在规划的时候,应该尽可能规划好资源文件所在的路径,尽量避免使用classpath*。
        -->
        <property name="mapperLocations" value="classpath*:com/mall/manage/xml/*.xml"/>

        <!--别名包-->
        <property name="typeAliasesPackage" value="com.mall.common.bean"/>
    </bean>

    <!--mapper接口的扫描器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mall.manage.mapper"/>
    </bean>

</beans>
