<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.manage.mapper.ContentMapper">
	<resultMap id="BaseResultMap" type="com.mall.manage.bean.Content">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="content_cat_id" property="contentCatId" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
		<result column="title_desc" property="titleDesc" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="pic2" property="pic2" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
	</resultMap>
	
	<resultMap id="ResultMapWithBLOBs" type="com.mall.manage.bean.Content" extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, content_cat_id, title, sub_title, title_desc, url, pic, pic2,
		create_time, update_time
	</sql>
	<sql id="Blob_Column_List">
		content
	</sql>
	
	<select id="queryListByCatId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from m_content
		where content_cat_id = #{contentCatId,jdbcType=BIGINT}
	</select>
</mapper>